@import url("reset.css");

/**
 * Main definitions
 *
 **/
body {
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    text-align: center;
}

a {
    color: #2F568D;
    text-decoration: none;
    border-bottom: 1px dotted #2F568D;
}

a:visited {
    border-bottom: 1px solid #2F568D;
}
a:hover {
    border-bottom: 1px solid #2F568D;
}
a:active {
    border-bottom: 1px solid #2F568D;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1em;
}

h2 {
    font-family: Georgia, serif;
    color: #222;
    font-size: 16px;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h3 {
    padding-top: 0.5em;
    font-weight: bold;
}

/**
 * Header
 *
 **/
#header {
    padding: 5px;
    color: white;
    background: #222;
    border-bottom: 3px solid #ddd;
    margin-bottom: 15px;
}

#headerb {
    width: 600px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#headtext {
    font-family: Georgia, serif;
    text-align: right;
    font-size: 20px;
    height: 20px;
    border-bottom: 1px solid #282828;
}

.titletext {
    padding-top: 3px;
    font-size: 10px;
    letter-spacing: 1px;
    float: left;
}

.mainmenu {
    border-top: 1px solid #444;
    clear: both;
    color: #333;
    margin-bottom: 2px;
}

.mainmenu a {
    color: #666;
    padding-right: 4px;
    border-bottom: none;
}

.mainmenu a:hover {
    color: #999;
    border-bottom: none;
}

.mainmenu a:active {
    border-bottom: none;
}

.mainmenu a:visited {
    border-bottom: none;
}

/**
 * Footer
 *
 **/
.footer {
    padding-top: 10px;
    clear: both;
    text-align: center;
    margin-bottom: 20px;
}

/**
 * Main Content
 *
 **/
.maincontent {
    text-align: left;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
}

/**
 * Main Page
 *
 */
.announcements {
    text-align: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.announcements p {
    padding: 3px 0 3px 0;
    margin-bottom: 1em;
}

.rowitem img {
    float: left;
    padding: 5px 20px 10px 0;
    width: 48px;
}

.rowitem {
    margin: 15px 50px 0 50px;
    clear: left;
    text-align: justify;
}

/**
 * Column based pages
 *
 **/
.leftcol {
    float: left;
    text-align: right;
    width: 180px;
    font-size: 10px;
    line-height: 2em;
}

.leftcol img {
    padding: 1px;
    margin-bottom: 1em;
    border: 1px solid #333;
}

.rightcol {
    float: right;
    text-align: justify;
    width: 390px;
}

.rightcol p {
    margin-bottom: 1em;
}

.rightcol blockquote {
    margin-left: 1em;
    margin-bottom: 1em;
}

.smallcol {
    width: 195px;
    float: left;
    padding-bottom: 1em;
}

.newblock {
    clear: both;
}

/**
 * Sponsor Page
 *
 **/
.sponsor {
    padding-top: 15px;
    clear: both;
}

.spinfo a {
    font-weight: bold;
}

.spinfo p {
    padding-top: 5px;
}

.spinfo {
    width: 380px;
    float: right;
}

.sponsor img {
    float: left;
}

/**
 * Contestant Page
 *
 **/
.dots {
    list-style: disc;
    padding-bottom: 1em;
    color: #000;
    border-bottom: none;
}

.dots li {
    padding-bottom: 2px;
}

.partslist li{
    list-style: disc;
    margin-left: 1.5em;
}

/**
 * Misc Alignment
 *
 **/
.raggedr {
    text-align: left;
}

.centre {
    text-align: center;
}

.centre img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
